#textdomain Love_To_Death
[unit_type]
    id=DasoiFighter
    name= _ "Dasoi Fighter"
    race=human
    image="units/human-outlaws/thug.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    profile="portraits/humans/thug.png"
    hitpoints=32
    movement_type=woodland
    movement=5
    experience=42
    level=1
    alignment=neutral
    advances_to=DasoiWarrior, DasoiBerseker
    cost=13
    usage=fighter
    description= _ "Dasoi are not a warlike people, but living in the wilderness, they soon develop habilities to fight the menaces that surround them. Every man is indeed a deadly warrior."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-outlaws/thug-defend-1.png" "units/human-outlaws/thug.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=club
        description=_"club"
        type=impact
        range=melee
        damage=5
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]
        [frame]
            duration=-50
            image="units/human-outlaws/thug.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-4.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-5.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-6.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-7.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-8.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-4.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-5.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-6.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-7.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-8.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/human-outlaws/thug.png"
        [/frame]
    [/attack_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-3.png"
        [/frame]
        [frame]
            duration=400
            image="units/human-outlaws/thug-idle-4.png"
        [/frame]
        [frame]
            duration=300
            image="units/human-outlaws/thug-idle-5.png"
        [/frame]
        [frame]
            duration=400
            image="units/human-outlaws/thug-idle-4.png"
        [/frame]
        [frame]
            duration=300
            image="units/human-outlaws/thug-idle-5.png"
        [/frame]
        [frame]
            duration=600
            image="units/human-outlaws/thug-idle-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-1.png"
        [/frame]
    [/idle_anim]
[/unit_type]
