#textdomain wesnoth-Love_To_Death

#wmllint: recognize Aleva
#wmllint: recognize Karos
#wmllint: recognize Konrad
#wmllint: recognize Karenin
#wmllint: recognize Kaliostali
#wmllint: recognize Ektalion
#wmllint: recognize Dasoi
#wmllint: recognize Wesnoth

[story]
    [part]
        story= _ "This campaign is not oriented for kids. If you expect sex or gratuite violence, forget about it, you won't find it here, but I consider it of mature content because of the values and behaviors of main characters. Now, Let's begin at last."
    [/part]
    [part]
        story= _ "For I am Aleva. It has been long, very long, but I still remember the old times of flesh and blood. It has been so long..."
    [/part]
    [part]
        music=snowfall.ogg
        story= _ "I remember the times of Karenin, the old marque, in the very borders of Wesnoth. I was young and ignorant. Daughter of the noble Marquis of Karenin, Kaliostali, loyal servant of king Konrad II. As I was not born male, I could choose the first steps of my destiny. Only the first ones. I felt attracted to the paths of magic."
        background=Story/forest01.jpg
    [/part]
    [part]
        #music=a3deap_HighInTheMountains.ogg
        story= _ "Not far in the north, in the steep valleys by the mountains where the Dasoi used to live, a known mage lived. His name was Ektalion. My master, my father of faith, my friend, my everything... I departed to travel paths of magic with him."
        background=Story/PaisajeMonta.jpg
    [/part]
    [part]
        #music=a3deap_HighInTheMountains.ogg
        story= _ "My loyal servant, Karos, was my closest ally. He was always by my side. My first servant, and the only who would give his live for me, for something more than just loyalty. Gold can not buy lives, and loyalty is a bastard daughter of gold. Powerful knight, sir Gold."
        background=Story/forest_9.jpg
    [/part]
    [part]
        #music=a3deap_HighInTheMountains.ogg
        story= _ "Innocent I was, as a say, at that time. So easy the world was... I remember that year, when it all began. Leaves were red when my loyal Karos and me were travelling through the marque, from the house of Ektalion back to Karenin. That summer was intense, in mind and heart. There was much that I learned from my master, but in the winter I still had to go back to my family. Everything began when I was back to Karenin."
        background=Story/castle01.jpg
    [/part]
    [part]
        show_title=yes
        {~add-ons/Love_To_Death/utils/Wesnoth.cfg}
        background=data/core/images/maps/wesnoth.png
        {JOURNEY_STAGE1}
    [/part]
    [part]
        show_title=yes
        {~add-ons/Love_To_Death/utils/Karenin.cfg}
        background=/All_Karenin.jpg
        {JOURNEY_STAGE2}
    [/part]
[/story]
